* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background: #d6d6d6;
    padding: 10px 20px 0;
    display: flex;
    gap: 10px;
}


.tab {
    padding: 10px 20px;
    background: #d6d6d6;
    color: black;
    text-decoration: none;
    height: 50px;
    font-size: 14px;
    border-radius: 10px 10px 0 0;
}


.tab:hover {
    background: #d6d6d6;
    
}


.tab.active {
    background: black;
    font-weight: bold;
    color: whitesmoke;
}


.content {
    background: #e5e5e5;
    height: 300px;
}


.hero {
    text-align: center;
    padding: 70px 20px 50px;
    font-size: 18px;
    background-color: black
}

.hero-image img {
    width: 900px;
    height: 500px;
    margin-bottom: 20px;
    filter: drop-shadow(0 8px 12px rgba(0, 0, 0, 0.5)); 
}

.hero-text {
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    margin-top: 25px;
}

.container {
    margin-top: auto;
    padding: 40px 20px;
    background-color: #222;
}

.card {
    background: rgba(255, 255, 255, 0.05);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.4);
}

.card ol {
    list-style: none;
}

.item {
    position: relative;
    margin-bottom: 30px;
    cursor: grab;
    color: #fff;
}


.label {
    display: flex;
    transition: opacity 0.3s ease, transform 0.8s ease;
    font-size: 15px;
    color: #1abc9c;
}



.value {
    position: absolute;
    top: 5px;
    left: 20px;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s ease, transform 0.8s ease;
    font-size: 18px;
    font-weight: 600;
    overflow: hidden;
}


.item:hover .label {
    opacity: 0;
    transform-box: fill-box; color: #ccc;
}

.item:hover .value {
    opacity: 100;
    transform: translateY(0);
}


.section-title {
    text-align: center;
    margin: 0px 0px;
    font-size: 26px;
    color: whitesmoke;
    letter-spacing: 5px;
    background-color: #222;
}


.table {
    background-color: #111;
}
.tabel {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #222;
} 

.table-container {
    overflow-x: auto;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {
    border-collapse: collapse;
    min-width: 600px;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 14px 18px;
    background-color: black;
    text-align: center;
    height: 50px;
    width: 80px;
}

th {
    background-color: #1abc9c;
    color: #000;
    font-weight: bold;
}

.td {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    background-color: black;
}

.form {
    position: sticky;
    background-color: #000000;
}


.form p {
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    font-weight: bolder;
    margin-bottom: 55px;
    color: #1abc9c;
}

.form label {
    display: block;
    margin-bottom: 0px;
    color: #ccc;
    margin-left: 485px;
}

.form input[type="text"] {
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 485px;
    background: transparent;
    border: 1px solid; 
    border-radius: 6px;
    color: #fff;
}

.form input[type="text"]:focus {
    outline: none;
    border-color: #1abc9c;
}

.form input[type="button"] {
    width: 30%;
    padding: 12px;
    background-color: #1abc9c;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: grab;
    transition: 0.5s ease-in-out;
    margin-bottom: 50px;
    margin-left: 485px;
}

.form input[type="button"]:hover {
    background-color: #16a085;
}

