*  {
    margin-top: 20px;
}

.navbarnav {
    
}
.hero-text {
    color: brown;
    margin-left: 20px;
    font-size: 15px;
}

.container {
    color: blue;
}

.section-title {
    color: aqua;
}

.form {
    color: aquamarine;
}

.input {
    color: blueviolet;
}

